@import '../../main';

.container {
  background: $color-black;
  color: $color-white;
  padding: 4.2rem 2rem;

  & > *:not(:last-child) {
    margin-bottom: 2.6rem;
  }

  &__heading {
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    h5 {
      font-size: $font-2xl;
      font-weight: 700;

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
      }

      @include md {
        font-size: $font-3xl;
      }
    }

    p {
      max-width: 40rem;
      margin: 0 auto;
      font-weight: 300;
      font-size: $font-sm;

      @include md {
        font-size: $font-base;
      }
    }
  }
}
