@import '../../main';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 16rem;
  padding: 2rem 1rem;
  background-color: $color-gray;
  position: relative;
  border-radius: 4px;
  text-align: center;

  margin: 0 auto;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &::before {
    content: ' ';
    position: absolute;
    background-color: rgba($color-white, 0.5);
    height: 100%;
    width: 4px;
    left: 0;
    top: 0;
    border-radius: 4px 0 0 4px;
  }

  &__number {
    font-size: $font-3xl;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.1px;
    letter-spacing: 2px;
  }

  &__name {
    letter-spacing: 1.2px;
    font-weight: 400;
  }
}
