@import '../../main';

.container {
  background-color: hsl(0, 0%, 96%);
  position: relative;
  padding: 3.4rem 2rem 3.4rem 3.6rem;
  border-radius: 4px;
  cursor: grab;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-box-shadow: 8px 8px 10px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 10px -9px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px -9px rgba(0, 0, 0, 0.5);
  max-width: 24rem;

  @include sm {
    max-width: 36rem;
  }

  &:hover {
    background-color: hsl(0, 0%, 92%);
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-40%, -50%);

    div {
      position: relative;
      width: 5rem;
      height: 5rem;
      border-radius: 4rem;
      border: 4px solid hsl(0, 0%, 100%);
      -webkit-box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.58);
      box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.58);
      span {
        border-radius: 4rem;
      }
    }
  }

  &__testimonial {
    &-name {
      font-weight: 800;
      font-size: $font-lg;
      letter-spacing: 1.2px;
    }

    &-occupation {
      font-size: $font-sm;
      font-weight: 600;
      letter-spacing: 1.2px;
      margin-top: 0.6rem;
    }

    &-paragraph {
      font-size: $font-xs;
      letter-spacing: 1.4px;
      margin-top: 0.4rem;
    }
  }
}
