@import '../main';

.container {
  color: $color-white;
  padding: 01rem 2rem;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease-out;
  z-index: 1000;

  @include md {
    padding-top: 1.8rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 106rem;
    margin: 0 auto;

    &-left {
      position: relative;
    }

    &-right {
      ul {
        display: flex;
        align-items: center;
        li {
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }

      &-button {
        display: none;
        @extend %button-rounded;
        border-color: $color-white;
        &:hover {
          color: $color-black;
        }

        @include md {
          display: block;
        }
      }
    }

    &-logo_container {
      display: flex;
      align-items: center;
      cursor: pointer;

      & > *:not(:last-child) {
        margin-right: 0.8rem;
      }

      div {
        position: relative;
        height: 2.2rem;
        width: 2.6rem;
      }

      span {
        letter-spacing: 1.1px;
        font-weight: 600;
        font-size: $font-2xl;
      }
    }
  }
}

.hamburger {
  cursor: pointer;

  &__line {
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &__active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__active &__line {
    &:nth-child(2) {
      width: 0px;
    }

    &:nth-child(1),
    &:nth-child(3) {
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }

    &:nth-child(1) {
      // -webkit-transform: translateY(13px);
      // -ms-transform: translateY(13px);
      // -o-transform: translateY(13px);
      transform: translateY(10px);
    }

    &:nth-child(3) {
      // -webkit-transform: translateY(-13px) rotate(90deg);
      // -ms-transform: translateY(-13px) rotate(90deg);
      // -o-transform: translateY(-13px) rotate(90deg);
      transform: translateY(-10px) rotate(90deg);
    }
  }
}
