@import '../../main';

.container {
  cursor: grab;

  &__parent {
    padding: 0.6rem;
    border: 1px solid #1e1e1e;
    background-color: #0a0a0a;
    max-width: 24rem;

    &-inner {
      border: 1px solid #1e1e1e;
      padding: 6rem 1rem;

      & > *:not(:last-child) {
        margin-bottom: 1.8rem;
      }
    }

    &-heading {
      h4 {
        font-weight: 600;
        font-size: $font-lg;
      }
    }

    &-paragraph {
      p {
        font-size: $font-xs;
        letter-spacing: 1.6px;
        line-height: 1.6;
      }
    }

    &-button {
      button {
        font-weight: lighter;
        letter-spacing: 2px;
      }
    }
  }
}
