// Colors
$color-primary: #24a19c;
$color-secondary: #139487;
$color-tertiary: #00c897;

$color-text: #297f87;

$color-background: #062c30;
$color-sidebar: #05595b;

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$color-gray: hsl(0, 0%, 5%);
