@import '../../main';

.container {
  position: absolute;
  z-index: 1;
  left: 3rem;
  bottom: 2rem;

  ul {
    font-size: $font-xl;
    color: white;
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 0.8rem;
      }

      div {
        position: relative;
        height: 1.9rem;
        width: 1.9rem;

        &:hover span {
          transform: scale(1.2);
        }
        span {
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}
