@import '../../main';

.container {
  background: $color-white;
  color: $color-black;
  padding: 4.2rem 1.4rem;

  &__about {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: space-evenly;

    flex-direction: column;

    @include lg {
      flex-direction: row;
    }
  }
}
